/* CSS Detective Challenge 1: Change background color and font size of h1 using element selector */


/* CSS Detective Challenge 2: Change text color of all other headings using element selector */


/* CSS Detective Challenge 3: Change text decoration of hyperlinks using element selector */


/* CSS Detective Challenge 4: Change font family of the whole page using element selector */


/* CSS Detective Challenge 5: Change font style of paragraph text using element selector */


/* CSS Detective Challenge 6: Change font size of list items using class selector */


/* CSS Detective Challenge 7: Use custom bullets */


/* CSS Detective Challenge 8: Change background color of specific paragraph using id selector */

